<article>
    <img src="images/co2_project.png" alt="" class="image"/>
    <div class="inner">

        <h4 style="color: orange;">World Co2 Emissions ML</h4>
        <p>Machine Learning project that ensambles three models in order to obtain a web app that allows countries
            to predict its efficiency producing energy so they can be classified in a cluster and 
            get recommendations with the aim of checking their environmental policies.
        </p>
        <ul class="alt">
            <li>Main Tools used: Python, Scikit-learn, Plotly, Pandas, Numpy, Flask, Streamlit</li>
            <li>Category: Clustering, Regression, Classification</li>
            <li>Year: October 2022</li>
        </ul>
        
        <button
        type="button">
        <a target="_blank" href="co2_ml.html">See the Project</a>
        </button>
    </div>
</article>