<article>
    <img src="images/co2_eda_icon.jpg" alt="" class="image"/>
    <div class="inner">
        <h4 style="color: orange;">Co2 EDA project</h4>
        <p>Here we examine the co2 dataset and get insights about it, cleanning it and making
            some graphs that allow us to better understand what is behind the data.
        </p>
        <ul class="alt">
            <li>Main Tools used: Python, Plotly, Pandas, Numpy</li>
            <li>Category: Exploratory Data Analysis</li>
            <li>Year: June 2022</li>
        </ul>

        <button
        type="button">
        <a target="_blank" href="co2_eda.html">See the Project</a>
        </button>
    </div>
</article>