<article>
    <img class="image" src="images/coffee-shop-store-front.jpg" alt="" />
    <div class="inner">
        <h4 style="color: orange;">Coffee Shop Online</h4>
        <p>
            Terminal based Python project for the Cloud Support Engineer training program where
            working in groups we developed in one day a fully functional app for managing the orders
            of a coffee shop. The app allows customer to buy food, drinks and books and when the 
            order is finished gives you the option of deliver it to your home. When the order is
            finished returns a bill.
        </p>
        
        <ul class="alt">
            <li>Main Tools used: Python, Pandas, Numpy</li>
            <li>Category: App Development</li>
            <li>Date: January 2024</li>
        </ul>
        <button><a target="_blank" href="https://github.com/fersaol/CoffeShopGeneration">Watch in Github</a></button>
    </div>
</article>