<article>
    <a href="https://github.com/fersaol/fersaol.github.io/blob/main/images/CoffeeShopWeb.drawio.png"
        target="_blank">
        <img src="images/CoffeeShopWeb.drawio.png" alt="" class="image"/>
    </a>
    <div class="inner">
        <h4 style="color: orange;">AWS React-Redux Coffee Shop Web</h4>
        <p>
            This is a dynamic website made using react and redux for handling an online coffee shop.
            The architecture is a 3 tier web in a cloud infrastructue as follows:
            <ul>
                <li><strong>Amplify:</strong> delivers the web page to the client</li>
                <li><strong>Api Gateway:</strong> routes the client requests to the appropriate lambda function</li>
                <li><strong>Lambda Functions:</strong> perform the computational work and the business logic updating/getting the data from the dynamodb</li>
                <li><strong>dynamodb:</strong> stores the store products</li>
            </ul>
            Github allows us for CI/CD and redux along with redux/toolkit allows us to manage the cart, storing
            the products temporarily, until the purchase is confirmed and then it clears the store and make the changes
            needed onto the dynamodb, permanently.
        </p>
        <p style="color:coral;font-style: italic;"><strong>Note:</strong> In progress</p>
        <ul class="alt">
            <li>Main Tools used: Amplify, Dynamodb, Lambda, Api Gateway Github, IAM, Redux/toolkit and Redux, React, JavaScript</li>
            <li>Category: Cloud, Web Development</li>
            <li>Year: April 2024</li>
        </ul>
        <button type="button">
            <a target="_blank" href="https://main.d1csyopxrvy87r.amplifyapp.com/">Go Coffee Shop</a>
        </button>
    </div>
</article>
