<article>
    <img src="images/custormer_churn.png" alt="" class="image"/>
    <div class="inner">
        <h4 style="color: orange;">Customer Churn ML</h4>
        <p>
            Exploratory Data Analysis and hypothesis testing to see if some
            of the variables would be worthy to mantain. Once this is done, 
            we use some supervised Machine learning algorithms to classify 
            the customers in churn and not churn. Then we show the data using
            a Dash dashboard where you can find your own insights and take a look
            at the data and a Streamlit app where you can make your own predictions
            and get insights with a fully functional machine learning algorithm.
        </p>
        <ul class="alt">
            <li>Main Tools used: Python, Scikit-learn, Plotly, Pandas, Numpy, Dash, Streamlit</li>
            <li>Category: Classification, Prescriptive analysis, Predictive analysis</li>
            <li>Year: March 2024</li>
        </ul>
        <div style="display:flex;align-items: center;justify-content: center;">
            <button type="button">
                <a target="_blank" href="https://github.com/fersaol/ChurnDataScienceProject">Watch in Github</a>
            </button>
            <button type="button">
                <a target="_blank" href="https://churnappfer.streamlit.app/">Try out the App!!</a>
            </button>
            <button type="button">
                <a target="_blank" href="churn_dashboard.html">Get Your Own Insights</a>
            </button>
        </div>
    </div>
</article>
