<article>
    <img class="image" src="images/diaryTkinter.png" alt="" />
    <div class="inner">
        <h4 style="color: orange;">Tkinter Job Seeking Diary</h4>
        <p>
            This is a tkinter application made for having a diary of the companys where
            you have applied for and a registry of the requirements that they are requesting
        </p>
        
        <ul class="alt">
            <li>Main Tools used: Python, Tkinter</li>
            <li>Category: App Development</li>
            <li>Date: November 2022</li>
        </ul>
        <button><a target="_blank" href="https://github.com/fersaol/registro_empleo_tkinter">Watch in Github</a></button>
    </div>
</article>