<article>
    <img class="image" src="images/eat_helthy.jpeg" alt="" />
    <div class="inner">
        <h4 style="color: orange;">Excel Nutrients Analysis</h4>
        <p>
            This Excel provides a way of take control over the calories and the macronutrients
            eaten throughout day so you can keep yourself under control setting objectives and
            having an overview of you nutrients intake what allows you to analyze your diet.
        </p>
        
        <ul class="alt">
            <li>Main Tools used: Excel</li>
            <li>Category: App Development and Business Analysis</li>
            <li>Date: December 2023</li>
        </ul>
        <p>If you wish, you can download the Excel here:</p>
        <button><a target="_blank" href="https://github.com/fersaol/nutrismartExcel">download Nutrition App</a></button>
    </div>
</article>