<article>
    <img src="images/inflaction_portada.png" alt="" class="image"/>
    <div class="inner">
        <h4 style="color: orange;">Personal Finances Dashboard</h4>
        <p>
            Currently working project consisting of a personal finance dashboard that will show your assets allocation
            in order to better understand and control your finances. Here you will be capable of setting up 
            goals and track them by creating, editing or removing those short and medium term things you want to achieve
        </p>
        <ul class="alt">
            <li>Main Tools used: AWS Services, Streamlit, Python, Docker and Docker Hub</li>
            <li>Category: Cloud, Networking, Web Development, Python</li>
            <li>Year: November 2024 and ongoing</li>
        </ul>
        <button type="button">
            <a target="_blank" href="">Take a look at the preview</a>
        </button>
    </div>
</article>
