<article>
    <img src="images/flashcards.png" alt="" class="image"/>
    <div class="inner">

        <h4 style="color: orange;">AWS services FlashCards Repository</h4>
        <p>
            This is an static website stored in an s3 bucket meant to be an AWS
            services repository of flashcards so aws learners can save time while
            studying and use it as a quick remainder and easy to remember, 
            clear and concise definitions of the main aws services.
            I found out this flashcards very useful while studying for my ccp exam.
        </p>
        <p style="color:coral;font-style: italic;"><strong>Note:</strong> Continuously updating</p>
        <ul class="alt">
            <li>Main Tools used: s3 bucket, html, JavaScript</li>
            <li>Category: Cloud, Web Development</li>
            <li>Year: March 2024</li>
        </ul>
        <button
            type="button">
            <a target="_blank" href="http://myawsflashcards.s3-website-eu-west-1.amazonaws.com/">AWS FlashCards Repository</a>
        </button>
    </div>
</article>