<article>
    <img src="images/inflaction_portada.png" alt="" class="image"/>
    <div class="inner">
        <h4 style="color: orange;">AWS-Streamlit Inflaction Dashboard</h4>
        <p>
            Here you will find a very easy understandable dashboard for the inflaction effect in Spain.
        </p>
        <ul class="alt">
            <li>Main Tools used: AWS Services, Streamlit, Python, Docker and Docker Hub</li>
            <li>Category: Cloud, Web Development, Python</li>
            <li>Year: October 2024</li>
        </ul>
        <button type="button">
            <a target="_blank" href="inflaction.html">More Info and Web Dashboard</a>
        </button>
    </div>
</article>
