<article>
    <img src="images/reactAmplifyDiagram.png" alt="" class="image"/>
    <div class="inner">
        <h4 style="color: orange;">AWS React Web using Amplify</h4>
        <p>
            This is a dynamic website made using react, redux, redux/toolkit, bootstrap
            and react-router-dom. It is meant for managing workers so you can pick
            the candidates and assign them to continents and departments. It is hosted in AWS
            CodeCommit for CI/CD deployment through Amplify that is a managed service which builds
            the infrastructure needed for us, making easy and fast the deployment of the app.
            To upload the code we have installed the cli into the local pc and to operate through
            the different services we have had to grant access using IAM so we have generated https
            git credentials for CodeCommit and we have given permissions through a policy to allow
            CodeCommit deploy the changes to Amplify.
        </p>
        <ul class="alt">
            <li>Main Tools used: Amplify, CodeCommit, IAM, CLI, Redux/toolkit and Redux, React, JavaScript</li>
            <li>Category: Cloud, Web Development</li>
            <li>Year: April 2024</li>
        </ul>
        <button type="button">
            <a target="_blank" href="https://master.d20dp79apu21jm.amplifyapp.com/">Go to Candidate Management Web</a>
        </button>
    </div>
</article>
